* {
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #232323;
  margin: 0;
  font-family: 'Montserrat', 'Avenir';
}

h1 {
  color: white;
  background: steelblue;
  line-height: 1.1;
  text-align: center;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid white;
  border-radius: 2px;
  max-width: 1200px;
}

.chart {
  width: 100%;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  border-radius: 6px;
}

#chart-container {
  /* float: left; */
   background: white;
  border-radius: 6px;
  border: 2px solid white;
  display: inline-block;
  margin-top: 150px;
  width: 100%;
  margin: 150px auto;
  max-width: 520px;
  min-width: 520px;
}

.description {
  color: white;
  width: 100%;
  float: right;
  padding: 0 50px;
}

.description-display {
  display: none;
}


.style-form {
  background: white;
  height: 30px;
  text-align: center;
  max-width: 1200px;
}

input {
  font-size: 18px;
  background: #f7f7f7;
  width: 100%;
  padding: 13px 13px 13px 20px;
  color: #666;
  border: 3px solid rgba(0,0,0,0);
}

input:focus {
  background: white;
  border: 3px solid #2980b9;
  outline: none;
}

.go-btn {
  color: white;
  background-color: steelblue;
  border: 2px solid white;
  border-radius: 6px;

  /* border: none; */
  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit--transition-duration: 0.2s;
  transition-duration: 0.2s;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 50px;
  width: 100%;

}

.go-btn:hover {
  /* background-color: lightsteelblue; */
  background: transparent;
  border-color: steelblue;
  color: steelblue;
}


/* ************************************* */
/* Media Queries */
/* Desktop Size */
@media only screen and (min-width: 1224px) {
    #chart-container {
        width: 50%;
        float: left;
    }

    .description {
      width: 50%;
      margin-top: 150px;
    }
}


/* *********************************** */
/* ************************************* */
/* Clearfix */

header::before, header::after {
  display: table;
  content: '';
}

header::after {
  clear: both;
}


/* ************************************* */
/* ************************************* */
/* Dropdown */

.dropdown {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.desc {
  padding: 15px;
  text-align: center;
}

.dropdown-btn {
  background: none!important;
  color: white;
  border: none;
  padding: 0!important;
  font: inherit;

}

/* ************************************* */

a {
  color: #00B7FF;
}

.positive{
		fill: lightsteelblue;
		fill-opacity: 0.9;
	}
.negative{
		fill: darkred;
		fill-opacity: 0.9;
	}
.axis path,
.axis line {
			fill: none;
			stroke: black;
			shape-rendering: crispEdges;
	}
.axis text {
			font-family: sans-serif;
			font-size: 10px;
	}
div.tooltip {
	  position: absolute;
	  text-align: center;
	  vertical-align: middle;
	  width: auto;
	  height: auto;
	  padding: 5px;
	  color: #000000;
	  font-size: 12px;
	  background: #FFF;
	  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	  border: 2px;
	  border-radius: 8px;
	  pointer-events: none;
	}
li{
	overflow:hidden;
	display: inline-block;
}
ul{
	padding-left: 0;
	padding-right: 0;
}
/* #chart-container{
	float:left;
} */
